<h1> hola dragonball</h1>

<hr>

<div class="container">
  <section class="row justify-content-center">

    <div class="col-12 col-sm-6">
      <h3>Agregar: {{ newName() }}</h3>

      <input type="text"
        class="form-control"
        placeholder="Nombre"
        [value]="newName()"
        (input)="newName.set($any($event.target).value)">

      <input type="number"
        class="form-control mt-3"
        placeholder="Poder"
        [value]="newPowerLevel()"
        (input)="newPowerLevel.set(+$any($event.target).value)">

      <button class="btn btn-primary mt-3" (click)="addCharacter()">Agregar</button>
    </div>

    <div class="col-12 col-sm-6">
      <ul>



        @for (character of characters(); track character.id; let index = $index) {
         @if (character.powerLevel > 0){
          <li>{{ index +1}}-{{ character.name }} - {{ character.powerLevel }}</li>
          <strong [class.text-danger] = "character.powerLevel > 9000">
            <strong [class.text-info] = "character.powerLevel <= 9000">
              ({{character.powerLevel}}) </strong>
          </strong>

        }
        }

      </ul>
    </div>

  </section>
</div>
