<h1> hola dragonball</h1>

<hr>

<div class="container">
  <section class="row justify-content-center">

    <div class="col-12 col-sm-6">
      <h3>Agregar:</h3>
      <input type="text" class="form-control" placeholder="Nombre">
      <input type="text" class="form-control mt-3" placeholder="Poder">
      <button class="btn btn-primary mt-3">Agregar</button>
    </div>

    <div class="col-12 col-sm-6">
      <ul>



        @for (character of characters(); track character.id; let index = $index) {
         @if (character.powerLevel > 0){
          <li>{{ index +1}}-{{ character.name }} - {{ character.powerLevel }}</li>
          <strong [class.text-danger] = "character.powerLevel > 9000">
            <strong [class.text-info] = "character.powerLevel <= 9000">
              ({{character.powerLevel}}) </strong>
          </strong>

        }
        }

      </ul>
    </div>

  </section>
</div>
